# 1. General configuration
# ========================

# 1.1. Data Paths
# ---------------

ES_DATA_PATH=/mnt/ssd1/swayrider/dev/elasticsearch/data
ES_SNAPSHOTS_PATH=/mnt/ssd2/swayrider/dev/elasticsearch/snapshots
POSTGRES_DATA_PATH=/mnt/sdd2/swayrider/dev/postgress/data

# 2. Service Specific Configurations
# ==================================

# Postgres
POSTGRES_USER=postgresadmin
POSTGRES_PASSWORD=ii02dH52irbeyX0ziVcp
POSTGRES_DB=swayriderdb
