
POSTGRES_USER=postgresadmin
POSTGRES_PASSWORD=ii02dH52irbeyX0ziVcp

GEODATA_PATH=/mnt/ssd2/swayrider/dev/geodata
TILES_DATA_PATH=/mnt/ssd2/swayrider/dev/tilesdata
TILES_CACHE_PATH=/mnt/ssd2/swayrider/dev/tilescache

AUTH_ADMIN_EMAIL=maarten@hevanto-it.com
AUTH_ADMIN_PASSWORD=maarten123
AUTH_MAILER_ADDRESS=swayrider@hevanto-it.com

MAIL_SMTP_USER=swayrider@hevanto-it.com
MAIL_SMTP_PASSWORD=HFvJQacHxKv*VN@pTgtt9J

TILESSERVICE_COMPRESSION_ENABLED=true
TILESSERVICE_COMPRESSION_CACHE_SIZE=200
TILESSERVICE_DISK_CACHE_ENABLED=true
TILESSERVICE_DISK_CACHE_MAX_FILES=2000
