# 1. General configuration
# ========================

# 1.1. Data Paths
# ---------------

VALHALLA_DATA_PATH=/mnt/ssd2/swayrider/dev/valhalla
GEODATA_PATH=/mnt/ssd2/swayrider/dev/geodata
PELIAS_DATA_PATH=/mnt/ssd2/swayrider/dev/pelias

# 2. Service Specific Configurations
# ==================================

# Valhalla configs
VALHALLA_SERVER_THREADS=2
